@media(max-width:1270px){
    .header__aside{
        position: absolute;
        border-right: none;
        height: 108px;
        padding-right: 25px;
        text-align: left;
        display: flex;
    }
    .header__arrows{
        left: 20px;
    }
    .menu{
        padding-top: 0;
    }
    .menu__list{
        text-align: center;
        li{
            display: inline-block;
        }
        a{
            padding: 15px;
        }
    }
    .header__search{
        padding: 33px 5px 15px;
    }
    .header__date{
        padding: 15px;
        span{
            padding-top: 0;
        }
    }
    .header__location{
        margin-top: 42px;
    }
    .splider-item__info-title{
        font-size: 55px;
    }
    .splider-item__info-text{
        font-size: 35px;
    }
    .serf-box__inner{
        min-height: 650px;
    }

    .slider-map{
        max-width: 900px;
        min-height: 400px;
    }
    .slider-map .slick-list{
        min-height: 400px;
    }
    .slider-dots--1{
        top: 210px;
        left: 0;
        .slider-dots__content{
            transform: translateX(0);
            &::before{
                left: 0;
            }
        }
    }
    
    .slider-dots--2{
        top: 180px;
    }
    
    .slider-dots--3{
        top: 205px;
        left: 20px;
    }
    
    .slider-dots--4{
        top: 310px;
        left: -15px;
    }
    
    .slider-dots--5{
        top: 130px;
        left: -50px;
    }
    
    .slider-dots--6{
        top: 370px;
        left: -80px;
    }
    
    .slider-dots--7{
        top: 250px;
        left: -80px;
    }
    
    .slider-dots--8{
        top: 360px;
        left: 30px;
    }
    .shop__slider-content{
        padding-left:0;
    }
    .shop__slider-price{
        margin-bottom: 10px;
    }
}

@media(max-width:1210px) {
    .shop__slider-inner{
        display: block;
    }
    .shop__slider-info{
        padding-top: 55px;
        padding-bottom: 50px;
    }
    .shop__slider{
        padding-left: 20px;
    }
    .surfboard__position--3 .surfboard-box__content{
        left: 60px;
    }
    .surfboard__position--3 .surfboard-box__content::before{
        width: 15px;
        right: auto;
        left: -32px;
    }
}


@media(max-width:1150px) {
    .travel-slider__descr{
        padding: 160px 0 0 20px;
    }
}

@media(max-width:1060px) {
    .header__map{
        svg{
            width: 800px;
        }
    }
    .slider-arrows{
        top: 30px;
        right: 10px;
    }
    .slider-arrows__left{
        right: 45px;
    }
    .header__arrows{
        display: none;
    }

    .travel-slider__info{
        display: block;
    }
    
    .travel-slider__info-subtitle{
        position: static;
        transform: rotate(0deg);
        height: auto;
        width: auto;
        text-align: left;
    }
    .tavel-slider__info-item{
        min-height: auto;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .travel-slider__info-title{
        padding-left: 0;
    }
    .travel-slider__descr{
        background-position: right -119px;
    }
    .travel{
        .title{
            span{
                padding-bottom: 0;
            }
        }
    }

    .quantity-button.quantity-up{
        right: auto;
        left: 25px;
    }
    .quantity-button.quantity-down{
        right: auto;
    }
    .sleep .travel-slider__descr{
        background-position: right 10px;
    } 

    .travel-pricing__span{
        display: none;
    }
   
}

@media(max-width:1000px) {
    .menu{
        background-color: #171919;
        z-index: 22;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        transition: all .5s;
        &.active{
            transform: translate(0);
        }
    }
    .menu-btn{
        display: flex;
    }
    .header__search{
        padding: 40px 15px 15px;
    }
    .slider-item__info{
        position: absolute;
        right: 20px;
        bottom: 17px;
        text-align: right;
    }
    .splider-item__info-text{
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .headline-left{
        font-size: 16px;
        line-height: 18px;
        padding-left: 65px;
    }

    .headline-right{
        font-size: 16px;
        line-height: 18px;
        padding-right: 65px;

    }
    .slider-item__info-suptext{
        margin-bottom: 5px;
    }
    .headline-left::before,
    .headline-right::before{
        width: 50px;        
    }
    .splider-item__info-title{
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .slider-dotshead{
        display: none;
        // position: absolute;
        // right: 0;
        // left: 10px;
        // margin: 0 auto;
        // bottom: 5px;
    }

    .slider-map{
        background-image: none;
        max-width: 100%;
        min-height: 280px;
    }
    .slider-dots__circle{
        display: none;
    }
    .slider-dots__content{
        display: block;
        &::before{
            display: none;
        }
    }
    .slider-dots{
        position: static;
    }

    .slider-map{
        .slick-list{
            overflow: hidden;
            min-height: 280px;
        }
        .slick-track{
            min-height: 280px;
        }
        
    }
    .slider-dots__content,
    .slider-dots--8  .slider-dots__content{
        transform: translateX(0);
    }
    .slider-dots__content{
        width: 285px;
        padding: 28px 31px 0 32px;
    }
    .slider-map .slick-current .slider-dots__content{
       background:rgba(#ccc, 0.7) ;
    }
    .serf__subtitle{
        padding-right: 18px;
    }
    
}



@media(max-width:710px) {
    .title{
        span{
            font-size: 85px;
            padding-bottom: 80px;
            padding-left: 10px;
        }
    }
    .serf, .travel{
        padding: 70px 0 50px;
    }

    .travel-slider__head{
        min-height: 720px;
    }

    .travel-slider__subtitle{
        padding: 100px 20px 0 0;
    }
    .surfboard-box__content{
        padding-left: 0;
        top: 35px;
        left: 0;
        width: 270px;
        &::before{
            display: none;
        }
    }
    .surfboard__position--1{
        .surfboard-box__content{
            left: -177px;
        }
    }
    .shop__extras{
        padding-left: 65px;
    }
}

@media(max-width:620px) {
    .shop__slider-content{
        display: block;
    }
    .shop__extras{
        padding-left: 0;
        padding-top: 35px;
    }
    .surfboard__position--1{
        left: 185px;
    }
    .footer{
        padding: 100px 0 34px;
    }
}

@media(max-width:570px) {
    .header__aside{
        display: block;
        text-align: center;
        padding-right: 0;
        height: 728px;
    }
    .header__search{
        padding: 15px  0 5px;
    }
    .header__date{
        padding: 0;
    }
    .header__location{
        margin-top: 0;
    }
    .header__map{
        svg{
            width: 600px;
            height: 320px;
        }
    }
    .headline-left{
        letter-spacing: 1.33333px;
    }
    .subtitle__head{
        font-size: 30px;
        padding-right: 0;
    }
    .travel-slider__descr{
        background-image: none !important;
    }
    .descr__head{
        font-size: 29px;
    }
}

@media(max-width:460px) {
    .travel{
        background-size: 120px;
    }
    .btn{
        font-size: 30px;
    }
    .shop__slider-content{
        padding-left: 0;
    }
}

@media(max-width: 420px){
    .slider-map .slider-dots__content,
    .slider-map .slick-current .slider-dots__content{
        display: block;
        width: 250px;
        padding: 28px 15px 0;
    }
    .travel-slider__descr .descr__head .travel__star-list{
        position: static;
        margin-left: -15px;
    }
    .travel-slider__descr .descr__head.descr__head-sleep{
        padding-right: 0;
    }
}



@media(max-width:400px) {
    .header__map{
    svg{
        width: 500px;
        height: 300px;
    }
}
}


@media(max-width: 374px){
    .slider-map .slider-dots__content,
    .slider-map .slick-current .slider-dots__content{
        display: block;
        width: 200px;
        padding: 28px 10px 0;
    }
    .shop__extras-box{
        text-align: center;
        margin-right: 30px;
    }
}